<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- animate link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

  <!-- link boostrap -->


  <!-- link css -->
  <link rel="stylesheet" href="resources/login.css">

  <!-- remixicon link -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

  <title>Login AMER</title>
</head>

<body>
  <!-- fondo wave -->
  <div class="container">
    <div class="wave"></div>
  </div>

  <!-- contenedor del formulario -->
  <div class="animate__animated  animate__flipInX container__form">
    <i class="ri-user-line userIcon"></i>

    <!-- formulario  -->
    <form action="/index" method="POST" class="login__form">
      <label>
        Username <input name="user_name" type="text" id="userName">
      </label>

      <label>
        Password<input name="user_pass" type="password" id="passUser">
      </label>

      <input type="submit" value="LOGIN" class="btn__login" id="loginButton">
    </form>
  </div>


  <!-- alertas de la libreria sweetalert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <% if (typeof alert !=="undefined" ) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: '<%= showConfirmButton %>',
        timer: 15000,
      }).then(() => {
        window.location = '/<%= ruta %>'
      })
    </script>
    <% } %>

</body>

</html>